/* @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap");


@font-face {
  font-family: 'NovemberGeLC';
  src: url('./fonts/NovemberGeLC-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovemberGeLC';
  src: url('./fonts/NovemberGeLC-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/*
@font-face {
  font-family: 'NovemberGeLC';
  src: url('./fonts//NovemberGeLC-S.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'NovemberGeLC';
  src: url('./fonts/NovemberGeLC-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NovemberGeLC';
  src: url('./fonts/NovemberGeLC-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
